/*
COLORS
     Dark blue: #1b284d
     Brigth blue: #0d6efd
     Light blue: #d7e7ff
     Orange: #fd7e14
     Pink: #f43e99
     Green/blue: #60cead
     Red: #dc3545

FONTS
     font-family: 'Kalam', cursive;
     font-family: 'Nanum Myeongjo', serif;
     font-family: 'Red Hat Display', sans-serif;
*/

*{
     box-sizing: border-box;
}

body {
     font-family: 'Red Hat Display', sans-serif;  
}

button {
     border: unset;
}

.row {
     margin-right: 0;
}

.row > * {
     padding-right: unset;
}

.col {
     --bs-gutter-x: 0;
}

.content {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.serverError {
     text-align: center;
     color: #dc3545;
}

/*
     HEADER
*/

.container-fluid {
     padding-right: 0;
     padding-left: 0;
}

#sidebarToggle {
     margin-left: 15px;
     padding: 8px;
     border-radius: 50%;
}

.ms-auto {
     margin-right: 20px;
}

.navbar-toggler {
     margin-right: 15px;
}

.nav-link {
     padding-left: 10px !important;
}

#userIcon {
     height: 30px;
}

#nameHeader {
     font-size: 40px;
     font-weight: 600;
     color: #1b284d;
     padding-left: 20px;
     text-decoration: none;
}

.sidebar-heading.border-bottom.bg-light {
     color: #1b284d;
}

#navbarSupportedContent ul {
     text-align: right;
}

.dropdown-menu.dropdown-menu-end {
     text-align: right;
     margin-left: 15px;
}

/*
     FOOTER
*/

.footer {
     font-size: 0.85rem;
     padding: 20px 0;
     line-height: 1.6;
     background:  #1b284d;
}
 
.footer__text,
.footer__link,
.footer__title,
.footer__contact {
     color: white;
     padding: 3px 15px;
     display: block;
}
 
.footer__hr {
     height: 1px;
     border: none;
}
 
.footer__sections {
     display: flex;
     flex-wrap: wrap;
     padding: 0;
}
 
.footer__section {
     box-sizing: border-box;
     width: 25%;
     padding: 15px 0;
     flex-shrink: 0;
}
 
.footer__title {
     font-weight: bold;
     margin-bottom: 10px;
}
 
.footer__link {
     text-decoration: none;
}
 
.footer__link:hover {
     color: white;
     background: #2c417d;
}

#footerLogo {
     height: 80px;
     margin-bottom: 10px;
}

/*
     INDEX
*/

.carousel-item img {
     object-fit: cover;
     max-height: 700px;
}

.carousel-caption.d-md-block h5 {
     text-shadow: 0 0 3px #1b284d;
     font-size: 40px;
}

/*
     LOGIN
*/

#loginForm {
     padding: 50px 0px;
}

.btnRegister {
     background-color: #eadece !important;
}

.verticalForm {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 30px 0px;
}

.verticalForm input {
     margin: 10px 0px;
}

/*
     ABOUT US
*/

#aboutDiv {
     margin: 0px 0px 100px 0px;
}

.subParagraph {
     padding: 10px 100px;
     text-align: justify;
}

.aboutContainer {
     max-width: unset;
     padding-left: 10%;
     padding-right: 10%;
}

/*
     QUIZ
*/

.title {
     text-align: center;
     font-size: 60px;
     padding: 20px;
     color: #1b284d;
     text-shadow: 3px 3px white;
}

.subtitle {
     text-align: center;
     font-size: 20px;
     margin: 0px 20px;
}

.score {
     text-align: center;
     font-size: 20px;
     margin: 20px;
}

.wigglePattern {
     background-color: #d7e7ff;
     background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230d6efd' fill-opacity='0.2'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#quizContainer {
     background: #ff9191;
     padding: 20px 0px;
     margin: 0px 10px;
     transition: 3000ms ease;
     border-radius: 10px;
}

#question {
     font-size: 30px;
     text-align: center;
     padding: 0px 10px;
}

.answersRow {
     padding: 10px 0px;
}

.answersRow button {
     background-color: white;
     color: #1b284d;
     margin: 10px 10px;
     border-radius: 10px;
     min-height: 50px;
     min-width: 100px;
     height: fit-content;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     padding: 0px 10px;
}

.answersRow button:hover {
     background-color: #e3edf1;
}

#result {
     font-size: 30px;
     text-align: center;
}

#showPicDiv {
     font-size: 16px;
     text-align: center;
}

#showPicLink {
     background-color: unset;
     border: unset;
     color: #0d6efd;
}

#showPicLink:hover {
     text-decoration: underline;
}

#nextQuestion {
     background-color: #fd7e14;
     color: white;
     margin: 30px 0px;
     border-radius: 10px;
     height: 50px;
     width: 170px; 
}

#nextQuestion:active {
     background-color: #ff943c;
}

#nextQuestion span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
}
   
#nextQuestion span:after {
     content: '\00bb';
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
}

#nextQuestion:hover span {
     padding-right: 25px;
}

#nextQuestion:hover span:after {
     opacity: 1;
     right: 0;
}

/* The Modal (background) */
.modal {
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     padding-top: 100px; /* Location of the box */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
   
/* Modal Content (Image) */
.modal-content {
     margin: auto;
     display: block;
     width: 80%;
     max-width: 700px;
}
   
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
     margin: auto;
     display: block;
     width: 80%;
     max-width: 700px;
     text-align: center;
     color: #ccc;
     padding: 10px 0;
     height: 150px;
}
   
   /* Add Animation - Zoom in the Modal */
.modal-content, #caption {
     animation-name: zoom;
     animation-duration: 0.6s;
}
   
@keyframes zoom {
     from {transform:scale(0)}
     to {transform:scale(1)}
}
   
/* The Close Button */
.close {
     position: absolute;
     top: 15px;
     right: 35px;
     color: #f1f1f1;
     font-size: 40px;
     font-weight: bold;
     transition: 0.3s;
}
   
.close:hover,
.close:focus {
     color: #bbb;
     text-decoration: none;
     cursor: pointer;
}

/*
     DASHBOARD
*/

.post-form {
     margin-bottom: 30px;
}

.post {
     margin: 20px 0px;
     padding: 20px;
     background-color: white;
     border-radius: 10px;
     width: 500px;
}

.postAuthor {
     font-weight: 600;
}

.postDate {
     padding-bottom: 5px;
     border-bottom: 1px solid #d7e7ff;
}

.postText {
     margin: 25px 0px;
}

.blueBackground {
     background-color: #d7e7ff;
}

.blueCurtainBackground {
     background-color: #d7e7ff;
     background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23b1d0ff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.pinkBackground {
     background-color: #ffddf1;
}

.pinkCircleBackground {
     background-color: #ffddf1;
     background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffa0d8' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.pinkWallBackground {
     background-color: #ffe5f4;
     background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffaadc' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.pinkLeafBackground {
     background-color: #ffeaf6;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ffbde4' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.purpleBackground {
     background-color: #ebd7ff;
}

.purpleCurtainBackground {
     background-color: #f2e6ff;
     background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23dcb9ff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.greenCurtainBackground {
     background-color: #cefbee;
     background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%2397e1cb' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.greenBackground {
     background-color: #d7fff6;
}

#text {
     border: unset;
     border-radius: 10px;
     padding: 10px;
     width: 500px;
}

#text:focus {
     outline: 2px solid #62dab6 !important;
}

#submitPost {
     float: right;
     margin-left: 10px;
     border-radius: 10px;
     padding: 8px 12px;
     border: unset;
}

#img {
     display: none;
}

.imgLabel {
     cursor: pointer;
     float: right;
     background-color: #e9ecef;
     margin-left: 10px;
     border-radius: 10px;
     padding: 8px 12px;
}

.imgLabel:hover {
     background-color: #f4f7f9;
}

#submitPost {
     background-color: #60cead;
}

#submitPost:hover {
     background-color: #60e3bc;
}

#imgUploaded {
     display: none;
     width: 400px;
     margin: 20px 100px 20px 0px;
}

#postImg {
     max-width: 400px;
}

.postImg img {
     width: -webkit-fill-available;
}


/*
     FUNNY PETS
*/

.centeredGrid {
     display: grid;
     justify-content: center;
     align-content: center;
     grid-auto-flow: row;
}

.centeredGrid.leafPattern {
     padding-bottom: 100px;
}

.funnypets img {
     max-height: 300px;
     margin: 0 auto 20px auto;
}

.funnypets button {
     width: fit-content;
     padding: 10px;
     margin: 0px auto;
     background-color: #fd7e14 ;
     border-radius: 10px;
     color: white;
}

.funnypets button:hover {
     background-color: #fb9746 ;
}

.leafPattern {
     background-color: #d7e7ff;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%230d6efd' fill-opacity='0.1'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/*
     FUN FACTS
*/

.funFactsContainer {
     text-align: center;
}

.fact {
     background-color: white;
     border-radius: 10px;
     padding: 20px;
     width: fit-content;
     max-width: 600px;
     height: fit-content;
     overflow: auto;
     margin: 30px auto 0px auto;
     display: flex;
     justify-content: center;
     align-items: center;
}

.searchFact button {
     margin-left: 20px;
     border-radius: 5px;
     padding: 5px 10px;
     background-color:#fd7e14;
     color: white;
}

.searchFact button:hover {
     background-color:#ffa053;
}

/*
     ADOPTION
*/

#pets {
     display: grid;
     grid-template-columns: auto auto auto;
     column-gap: 30px;
     min-width: 300px;
}

.filter {
     position: relative;
     height: 100px;
}

.vh-center {
     margin: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}

.relativeContainer {
     position: relative;
     height: 60px;
}

.relativeContainerHeight {
     position: relative;
     height: 60px;
}

#advancedFilterBtn {
     background-color: #b0d0ff;
     padding: 10px;
     width: 300px;
}

.petItem {
     position: relative;
     text-align: center;
     color: white;
     width: 300px;
     margin: 20px auto;
     cursor: pointer;
}

.petPhoto img {
     width: 300px;
     height: 200px;
     object-fit: cover;
}

.petName {
     position: absolute;
     top: 86%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 25px;
     padding: 10px 0px;
     width: inherit;
     background:  rgba(27, 40, 77, 0.75);
}

.petAgeGender {
     position: absolute;
     top: 8px;
     right: 16px;
     font-size: 20px;
     text-shadow: 0px 0px 5px #1b284d;
}

.genderIcon {
     width: 20px;
     margin-bottom: 5px;
     -webkit-filter: drop-shadow(0px 0px 3px #1b284d);
     filter: drop-shadow(0px 0px 3px #1b284d);
}

#filterDog, #filterCat {
     border-radius: 10px;
     background-color: #e885b6;
     padding: 10px;
     margin: 0px 5px;
     width: 60px;
     color: white;
}

.activeBtn {
     background-color: #f43e99 !important;
}

#advancedFilters {
     display: none;
     padding: 1px 50px;
     background-color: white;
}

.advFilter {
     height: 60px;
     position: relative;
}

.filterSection {
     margin: 20px 0px;
}

#age {
     background-color: transparent;
     border: unset;
}

#slider-range {
     width: 200px;
}

#slider-range span {
     border-radius: 10px;
     background: #ffc0de;
     border: 1px solid #ffadd4;
}

#slider-range div {
     background: #f7d4e5;
     top: -0.5px;
}

.summary {
     display: flex;
     flex-direction: row;
     background-color: white;
     align-items: center;
     padding: 20px 30px;
     border-radius: 10px;
     width: 500px;
     margin: 10px auto;
 }

 .summary img {
     height: 100px;
     width: 100px;
     border-radius: 50px;
     object-fit: cover;
     margin-right: 10px;
 }

 .summaryInfoContainer {
     margin-left: 10px;
     align-self: flex-start;
 }

 .summaryInfo span {
     margin-right: 5px;
 }

 .summaryName {
     font-size: 20px;
     font-weight: 600;
 }

 .summaryDescription {
     margin-top: 10px;
 }

 .bookingForm {
     margin: 10px auto 40px auto;
     width: 500px;
     display: grid;
 }

 .formTitle {
     margin: 10px 0px;
     font-size: 18px;
 }

 .formShelter {
     font-size: 16px;
     background-color: white;
     border-radius: 10px;
     padding: 8px;
 }

 .formOpenings {
     font-size: 14px;
     margin-top: 5px;
 }

 .dp__input_wrap input {
     border: unset;
     border-radius: 10px;
     padding-top: 8px;
     padding-bottom: 8px;
 }

 .dp__input_wrap input:hover {
     border: 1px solid #9198ae;
 }

 .bookingForm button {
     border-radius: 10px;
     margin: 30px auto;
     background-color: #f43e99;
     color: white;
     font-weight: 600;
     border: unset;
     padding: 10px 20px;
 }

 .bookingForm button:hover {
     background-color: #f880bc;
 }

#myVisits, #myEvents, #myInterviews {
     margin: 50px 0px;
}
#myEvents{
     max-width: 80vw;
}

/*
     VOLUNTEERING
*/

.titleVol {
     margin-bottom: 10px;
     font-size: 20px;
     font-weight: 600;
     text-align: center;
}

#viewVolunteering select, #bookVolunteering input, #bookVolunteering select {
     margin-bottom: 20px;
     border: unset;
     border-radius: 8px;
     height: 35px;
     min-width: 200px;
     padding: 0px 5px;
}

#bookVolunteering textarea {
     margin-bottom: 20px;
     border: unset;
     border-radius: 8px;
     min-width: 400px;
     min-height: 150px;
     padding: 15px;
}

#jobBook, #jobSubmit {
     border-radius: 10px;
     margin: 30px auto;
     background-color: #f43e99;
     color: white;
     font-weight: 600;
     border: unset;
     padding: 10px 20px;
 }

#jobBook:hover, #jobSubmit:hover {
     background-color: #f880bc;
 }

/*
     HANGMAN
*/

#HangmanBackgroud{
     background-color: white;
     display: grid; 
     align-items: center;
     justify-items: center;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     padding: 15px;
     margin: 10px;
     border-radius: 10px;
}

#hangmanContainer{
     max-width: 500px;
     margin: 0px auto;
     border-radius: 20px; 
}

#imgHangman{
     height: 30vh;
     grid-row-start: 1;
     grid-row-end: 3;
     max-width: 30vw;
     max-height: 30vh;
     object-fit: cover;
}

#animalPhoto{
     height: 25vh;
     grid-column-start: 2;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: 3;
     max-width: 45vw;
     max-height: 45vh;
     filter:blur(10px);   
}

#wordToGuess{
     grid-column-start: 2;
     grid-column-end: 4;
     grid-row-start: 3;
     grid-row-end: 4;
     color: #324376;
     background-color: #e4efff;
     border: 2px solid #408dff;
     border-radius: 10px;
     margin-top: 15px;
     padding: 4px 15px;
}

#usedLetters{
     grid-column-start: 1 ;
     grid-column-end:  2;
     grid-row-start: 3;
     grid-row-end: 4;
     min-height: 10vw;
}

#scoreHangman{
     text-align: center;
}

#spanRules{
    position: absolute; 
    right: 2px;
}

#btnRules{
     border-radius: 20px;
     padding: 5px 13px;
     background-color: #0d6efd;
     margin: 10px;
     color: white;
}

#descriptionHangman{
     position: relative;
     color: white;
     margin:20px 10px;
     padding: 10px;
     width: 85vw;
}

.hangmanRulesContainer {
     padding: 20px;
     background-color: #e37a24;
     color: white;
}

.modal-content.hangmanModal-content {
     background-color: #e37a24;
}

#hangmanInput{
     display: flex;
     flex-direction: row;
     text-align: center;
     flex-wrap: wrap;
     justify-content: space-around;
     padding: 20px;

}

#letter{
     margin-bottom: 10px;
     border-radius: 10px;
     border: 2px solid #408dff;
}

#btnHangman{
     margin-bottom: 10px;
     background-color: green;
     border-radius: 10px;
     background-color: #fd7e14;
     border-radius: 6px;
     padding: 6px 15px;
     color: white;
}
#divResult{
     display: none;
     z-index: 2;
     position: fixed;
     margin: 0 auto;
     top:30vh;
     right: 30vw;
     background-color: rgba(59, 157, 248, 0.5);
     border-radius: 20px;
     padding: 0px 15px 10px 15px;
     max-width: 200px;
}
#closeResult{
     z-index: 2;
     background-color: transparent;
     font-size: 25px;
     font-weight: 600;
     float: right;
     height: 30px;
}
#textResult {
     float: left;
}

/*
     PROFILE
*/

#profileContainer{
     padding-bottom: 30px;
}
#layoutProfile{
     display: grid;
     row-gap: 5px;
     grid-template-columns: 1fr 1fr 1fr;
     padding: 20px;
     justify-content: center;
     background-color: white;
     max-width: 500px;
     margin: 0px auto;
     border-radius: 20px;
}
.fontProfile{
     font-size: large;
     font-weight: bold;
     padding: 4px;   
}
#emailSpan, #nameSpan, #surnameSpan, #quizSpan, #passwordSpan, #hangmanSpan{
     grid-column-start: 1;
     grid-column-end: 3;
}
#email{
     grid-column-start: 3;
     grid-column-end: 4;
     margin: auto 12px;
}
#inputName, #inputSurname, #inputPassword{
     grid-column-start: 3;
     grid-column-end: 4;
     margin: auto 10px;
     border-radius: 10px;
     border: unset;
     background-color: #e3ebf5;
     padding: 5px 10px;
}
#logoutBtn, #saveBtn {
     border-radius: 8px;
     margin: 20px;
     width: 100px;
     padding: 5px;
     color: white;
}
#logoutBtn{
     grid-column-start: 1;
     grid-column-end: 2;
     background-color: #dc3545;
}
#logoutBtn:hover {
     background-color: #e36672;
}
#saveBtn{
     grid-column-start: 3;
     grid-column-end: 4;
     background-color: #60cead;
     justify-self: end;
} 
#saveBtn:hover {
     background-color: #92dfc8;
}

/*
     EVENTS
*/

.eventsContainer{
     padding-bottom: 30px;
}

.layoutEvent{
     background-color: white; 
     display: grid;
     justify-items: center;                        
     padding: 15px;
     margin: 10px;
     border-radius: 10px;
}

.eventContainer{
     max-width: 500px;
     margin: 0px auto;
}

.figureEvent{
    position: relative;
}

.imgEvent{
     max-width: 450px;
     width: 50vw;
}

.categoryEvent, #nameEvent{
     position: absolute; 
     bottom: 10px;
     left: 10px;
     background-color: #ffcae4be;
     padding: 1px 5px;
     border-radius: 5px;
}

.eventContainer div article {
     margin-left: 10px;
}

.divPriceEvent {
     margin-bottom: 8px;
}

.descriptionEvent {
     background-color: #e6eaf0;
     align-items: center;
     justify-items: center;
     border-radius: 10px;
     height: 40vw;
     padding: 5px 10px;
     overflow: auto;
     max-height: 25vh;
     max-width: 500px;
     min-width: 200px;
}

.infoEvent{
     display: flex;
     flex-direction: row;
     padding: 10px;
     justify-content: space-around;
}

.bookEvent{
     background-color: #f43e99;
     border-radius: 10px;
     padding: 8px 12px;
     color: white;
}

.bookEvent:hover{
     background-color: #f67ab8;
}

.seatEvent{
     margin: 10px;
}
.notAvaibleEvent{
     color: #dc3545;
}

/*
     ADMIN
*/

.title.pink {
     color: #651c45;
}

.title.purple {
     color: #341b61;
}

.title.green {
     color: #0f4332;
}

#addPet, #addVol, #addEvent {
     margin: 0 auto;
     padding: 10px 15px;
     border-radius: 10px;
     background-color: #f43e99;
     color: white;
}

#addPetBtn, #addVolBtn, #addEventBtn {
     padding: 10px 15px;
     border-radius: 10px;
     background-color: #f43e99;
     color: white;
     float: right;
}

#addPet:hover, #addPetBtn:hover, #addVolBtn:hover, #addEvent:hover {
     background-color: #ff89c4;
}

.deletePet, .deleteEvent, .deleteVol {
     padding: 4px 8px;
     color: white;
     background-color: #dc3545;
     border-radius: 7px;
}

#petsList_wrapper, #volsList_wrapper, #eventsList_wrapper {
     width: fit-content;
     margin: 20px auto 0px auto;
}

#petsList_length, #petsList_filter, #volsList_length, #volsList_filter, #eventsList_length, #eventsList_filter {
     padding-bottom: 20px;
}

#petsList_info, #petsList_paginate, #volsList_info, #volsList_paginate, #eventsList_info, #eventsList_paginate {
     padding-bottom: 20px;
     padding-top: 20px;
}

#petsList_filter label input, #petsList_length label select, #petsList_paginate span a,
#volsList_filter label input, #volsList_length label select, #volsList_paginate span a,
#eventsList_filter label input, #eventsList_length label select, #eventsList_paginate span a {
     background-color: white;
}

#usersList_wrapper {
     width: fit-content;
     margin: 20px auto 0px auto;
}

#usersList_length, #usersList_filter {
     padding-bottom: 20px;
}

#usersList_info, #usersList_paginate {
     padding-bottom: 20px;
     padding-top: 20px;
}

#usersList_filter label input, #usersList_length label select, #usersList_paginate span a {
     background-color: white;
}

.dataTables_scroll {
     background-color: white;
     width: fit-content;
     margin: 0 auto;
     padding: 0px 20px;
     border: 1px solid #cdcdcd;
     border-radius: 10px;
}

#newPetForm, #newEventForm {
     background-color: white;
     padding: 5px 30px 5px 30px;
     margin: 30px 0px;
     display: grid;
     grid-template-columns: auto auto auto auto;
     max-width: 500px;
     border: 1px solid #cdcdcd;
     border-radius: 10px;
}


#colForm1 {
     grid-column-start: 1;
     grid-column-end: 3;
}

#colForm2 {
     grid-column-start: 3;
     grid-column-end: 5;
}

.petPhotoField , .eventPhotoField{
     min-height: 80px;
     height: fit-content;
     grid-column-start: 1;
     grid-column-end: 4;
     margin-right: 10px;
}

#newPetSubmit, #newEventSubmit {
     grid-column-start: 4;
     grid-column-end: 5;
     align-self: end;
     padding-bottom: 20px;
}

#colForm1, #colForm2 {
     padding: 0 10px;
}
 
.newPetField, .newEventField {
     padding: 10px 0px;
}

#newPetName, #newPetAge, #newPetPhoto,#newEventPhoto {
     display: block;
}

#errorNewPet {
     padding-top: 5px;
     color: #dc3545;
     transition: 1s;
}

.newVolField {
     margin-bottom: 20px;
}

#newVolForm {
     background-color: white;
     padding: 20px;
     border-radius: 10px;
     border: 1px solid #cdcdcd;
     margin: 20px 0px;
}



/*
     TOP 10 Video
*/

#countryVideo{
     border-radius: 10px;
     position: relative;
     max-width: 20vw;
     margin: 20px auto;
     border: unset;
     height: 35px;
     min-width: 200px;
     padding: 5px;
}
.videoPet{
     border-radius: 10px;
     width: 420px; 
     height: 315px;
}
.fi {
     background-size: contain;
     background-position: 50%;
     background-repeat: no-repeat;
     position: relative;
     display: inline-block;
     width: 1.33333333em;
     line-height: 1em;
}
.fi:before {
     content: '\00a0';
}
.fi.fis { 
     width: 1em;
}
.numVideo{
     justify-content: center;
     margin: 10px;
     padding: 5px;
     font-size: 25px;
     font-weight: 600;
}



/*
     ERROR
*/

#urlNotFoundText {
     padding: 50px;
     background-color: #d7e7ff;
}

#urlNotFoundText img {
     max-height: 200px;
     margin-top: 20px;
}

.past-events-list .event-item:nth-child(2n) {
     padding-left: 10px;
}

.past-events-list .event-item {
     margin-bottom: 80px;
}

.column {
     box-sizing: border-box;
     position: relative;
     z-index: 1;
     margin: 0;
     padding: 0;
     float: left;
     min-height: 2px;
}

/*
     MEDIA
*/

@media screen and (max-width: 1200px) {
     #nameHeader {
          font-size: 35px;
          padding-left: 15px;
     }
     #pets {
          display: grid;
          grid-template-columns: auto auto;
     }
}

@media screen and (max-width: 1050px) {
     .subParagraph {
          padding: 15px 15px;
     }
     .carousel-caption.d-md-block h5 {
          font-size: 30px;
     }
     #pets {
          display: grid;
          grid-template-columns: auto;
     }
}

@media screen and (max-width: 768px) {
     .footer__section {
          width: 50%;
     }
     .subParagraph {
          padding: 10px 10px;
     }
     .modal-content {
          width: 100%;
     }
     .carousel-caption.d-md-block h5 {
          font-size: 24px;
     }
     .fact {
          width: 60vw;
     }
}

@media screen and (max-width: 650px) {
     .dataTables_scroll {
          width: unset;
          margin: 0 20px;
     }
     #usersList_wrapper, #petsList_wrapper, #volsList_wrapper, #eventsList_wrapper {
          width: unset;
     }
}

@media screen and (max-width: 540px) {
     #nameHeader {
          font-size: 30px;
          padding-left: 5px;
     }
     .post {
          width: 350px;
     }
     #text {
          width: 350px;
     }
     #imgUploaded {
          display: none;
          width: 320px;
          margin: 20px 30px 20px 0px;
     }
     #errorPost {
          margin-bottom: 10px;
     }
     .summary {
          width: 400px;
          padding: 12px 16px;
          font-size: 14px;
     }
     .summary img {
          height: 80px;
          width: 80px;
     }
     .bookingForm {
          width: 400px;
     }
     #profileGridContainer {
          margin: 0px 10px;
     }
}
     
@media screen and (max-width: 480px) {
     .footer__section { 
          width: 100%;
     }
     .carousel-caption.d-md-block h5 {
          font-size: 14px;
     }
     .title {
          font-size: 36px;
          text-shadow: 2px 2px white;
     }
     .funnypets img {
          max-width: 320px;
     }
     #question {
          font-size: 24px;
     }
     .subtitle {
          font-size: 16px;
     }
     .petPhotoField {
          width: 230px;
     }
     .summary {
          width: 300px;
          padding: 12px 16px;
     }
     .bookingForm {
          width: 300px;
     }
     #myVisits, #myEvents, #myInterviews {
          margin: 25px 0px;
     }
     .fact {
          width: 80vw;
     }
     #bookVolunteering textarea {
          min-width: 300px;
     }
     #logoutBtn, #saveBtn {
          margin: 5px;
          padding: 3px;
     }
     #inputName, #inputSurname, #inputPassword {
          width: 120px;
     }
}

@media screen and (max-width: 450px) {
     #newEventForm {
          display: unset;
     }

}
@media  screen and (max-width: 400px) {
    .videoPet{     
          width: 300px;
          height: 200px;
     }
}
     
@media screen and (max-width: 350px) {
     #sidebarToggle {
          margin-left: 10px;
          padding: 4px;
     }
     #nameHeader {
          font-size: 25px;
          padding-left: 5px;
     }
     .navbar-toggler {
          margin-right: 8px;
     }
     .post {
          width: 250px;
     }
     #text {
          width: 250px;
     }
     #imgUploaded {
          display: none;
          width: 220px;
          margin: 20px 30px 20px 0px;
     }
     #newPetForm, #newEventForm {
          display: unset;
     }
     .searchFact button {
          margin-top: 10px;
     }
     #bookVolunteering textarea {
          min-width: 250px;
     }
}
@media screen and (max-width: 250px) {
     .descriptionEvent {
          
          min-width: auto;
          
     }
}
